<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/head.ejs") -%>
  </head>

  <body>
    <main>
      <h1>Guess the word</h1>
      <section id="game">
        <h2>Definition</h2>
        <h2 id="definition"></h2>
        <button onclick="newDefinition()"><span>New word</span></button>
      </section>
      <section>
        <h3>Online</h3>
      </section>
      <section>
        <ul></ul>
        <form>
          <input type="text" autocomplete="off" />
          <button><span>Send</span></button>
        </form>
      </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
