body {
  background: rgb(162, 209, 152);
  background: linear-gradient(
    90deg,
    rgba(162, 209, 152, 1) 0%,
    rgba(135, 178, 123, 1) 100%
  );

  font-family: "Courier New", Courier, monospace;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  background-color: white;
  display: flex;
  width: 45%;
  flex-grow: 1;
  margin: 0.5em;
  flex-direction: column;
  padding: 1em;
}

section:nth-of-type(3) {
  flex-grow: 1;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  height: 15em;
  overflow: scroll;
  margin: 0;
}

li {
  list-style: none;
  padding: 0.5em 0;
}

.answer {
  background-color: #dff7d9;
  font-weight: 700;
}

input {
  padding: 0.5em;
  width: 80%;
  height: 2.5em;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #87b27b;
}

@media (max-width: 975px) {
  section:nth-of-type(2) {
    order: 3;
  }
}
