body {
  background: rgb(162, 209, 152);
  background: linear-gradient(
    90deg,
    rgba(162, 209, 152, 1) 0%,
    rgba(135, 178, 123, 1) 100%
  );

  font-family: "Courier New", Courier, monospace;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section:nth-of-type(2) {
  margin-top: 1em;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
}

/* li:nth-of-type(even) {
  background-color: #dff7d9;
} */

li {
  list-style: none;
  padding: 0.5em 0;
}

.answer {
  /* color: #87b27b; */
  background-color: #dff7d9;
  font-weight: 700;
}

input {
  padding: 0.5em;
}
